body{
	background-color: lightgreen;
}

button{
  background-color: blue;
  color: white;
}

button:hover{
  background-color: red;
}

#title, .center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

button.center{
	width: 6rem;
	height: 3rem;
	margin-top: 1rem;
}

#title{
	color:blue;
	text-align: center;
}

